body {
    font-family: "Catamaran", "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.body-container {
    margin: 7.5em auto;
    padding: 0 2em;
    max-width: 960px;
}

.page-header {
    height: 64px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;

    background-color: #31363b;
    box-shadow: 0 0 0.25em #31363b;
    color: #fcfcfc;

    position: fixed;
    top: 0;
}

.page-header-logo {
    max-width: 256px;
}

.page-header-logo > p {
    margin: 0;
    padding: 0;

    height: 18px;
    line-height: 18px;
}

.page-header-logo > p:first-of-type {
    margin-top: 14px;
}

.page-header-smalltitle {
    font-size: 0.8em;
    font-weight: 300;
}

.page-header-bigtitle {
    font-weight: 500;
}

.page-footer > p {
    margin: 0;
    padding: 0.125em 0;
}

.login-hero h1 {
    font-size: 2em;
    font-weight: 100;

    margin: 0;
    padding: 0.125em 0;
}

.login-hero h1 strong {
    font-weight: 300;
}

.login-hero h2 {
    font-size: 1.125em;
    font-weight: 200;

    margin: 0;
    padding: 0.125em 0;
}

.register-progress-counter-container {
    text-align: center;
}

.register-progress-counter {
    counter-reset: step;
    margin: 2em 0;
    padding: 0;
    display: inline-block;
}

.register-progress-counter li {
    list-style-type: none;
    width: 10em;
    font-size: 0.75em;
    margin-bottom: 1em;

    float: left;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: green;
    z-index: -1;
}

.register-progress-counter li:before {
    width: 32px;
    height: 32px;
    line-height: 32px;
    display: block;

    margin: 0 auto 10px auto;
    padding: 0;

    content: counter(step);
    counter-increment: step;

    border: 2px solid;
    border-radius: 50%;
    text-align: center;
}

.register-progress-counter li.active {
    color: orange;
}

.register-progress-counter li.active ~ li {
    color: #7d7d7d;
}

.code-of-conduct {
    font-size: 0.9em;
    line-height: 1.375;
}

.code-of-conduct h2 {
    font-weight: 600;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix {
    float: none;
    clear: both;
}

.page-footer {
    position: fixed;
    bottom: 0;
}
