<!DOCTYPE html>
<html>
    <head>
        <title>{{ app.name }}</title>

        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900&amp;subset=latin-ext" />
        <link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    </head>
    <body>
        <header class="page-header">
            <div class="page-header-logo float-left">
                <div class="page-header-logo-image float-left">
                    <a href="/"><img src="/static/images/logo-dark.png" alt="KDE Logo" /></a>
                </div>
                <p class="page-header-smalltitle float-left">{{ app.smallTitle }}</p>
                <p class="page-header-bigtitle float-left">{{ app.name }}</p>
                <div class="clearfix"></div>
            </div>
            <nav class="page-header-menu float-right">

            </nav>
            <div class="clearfix"></div>
        </header>

        <div class="body-container">
        {% block body %}
        {% endblock %}
        </div>

        <footer class="page-footer">
            <p>Designed and maintained by <a href="http://sysadmin.kde.org/tickets/">KDE Sysadmin.</a></p>
            <p>KDE<sup>&reg;</sup> and <a href="//www.kde.org/media/images/trademark_kde_gear_black_logo.png">the K Desktop Environment<sup>&reg;</sup> logo</a> are registered trademarks of <a title="Homepage of the KDE non-profit Organization" href="http://ev.kde.org/">KDE e.V.</a> | <a href="http://www.kde.org/community/whatiskde/impressum.php">Legal</a></p>
		</footer>
    </body>
</html>
